---
layout: archive
---

{{ content }}
<h2>Previous Work</h2>

<h4>simpleXR</h4>
<p>
  <img src="/assets/images/sxrlogo.png" alt="sXR Logo">
  A full featured toolbox to facilitate the development of XR research. 
</p>
<h4>Simulating Neuralink Threads with Regards to Cerebrovascular Anatomy</h4>
<p>
    <img src="/assets/images/brainartery.gif" alt="MRI Reconstruction of anterior cerebral artery">
    <img src="/assets/images/brainimplant.gif" alt="3D view of the implanted Neuralink threads">
  Neuralink threads were simulated to-scale based on previously reported literature. Using MRI images and previously reported retinotopy mappings from neuropythy, patient specific simulations of cortical prosthetic vision were rendered in real-time virtual/augmented reality. 
</p>
<h4>Leveraging 'Smart Rasterization' for Enhanced Task Performance in a Simulated Cortical Implant</h4>
<p>
  <img src="/assets/images/smartedges.gif" alt="Smart edge detection">
  <img src="/assets/images/smartRaster.gif" alt="Smart edge detection with smart rastering groups">

  Electrode rasterization is an overlooked aspect of current visual prostheses. Current devices use row-by-row rasterization or similarly naive approaches to rastering. By simulating "smart rasterization" in VR, we were able to prove rasterization patterns are a plausible target for creating the "smart bionic eye".
</p>
<h4>Path Prediction for Occluded/Invisible Targets</h4>
<p>
  <img src="/assets/images/bunny.gif" alt="Bunny prediction">
Previous research reported contradictory findings on path prediction, with some works showing that distance traveled while viewed was the largest influence on path prediction with others showing time. Our work found time under vision to be the most important factor in predicting an object's path.
</p>
<h4>Diffusion Connectometry of Individual Differences in Navigation </h4>
<p>
  <img src="/assets/images/PosQA.gif" alt="Quantitative Anisotropy">
  Diffusion Spectrum Imaging (DSI) was used to identify white matter differences associated with navigational capability
</p>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
