---
layout: archive
---

{{ content }}

<h3>Current first author projects:</h3>
<h4>Systematic Review: Simulations for Low Vision and Retinal Prosthetics</h4>
<p>A literature review following <a href="http://prisma-statement.org/documents/PRISMA%202009%20flow%20diagram.pdf">PRISMA</a> guidelines. Highlights the current lack of biologically relevant models for bionic vision. <br>Expected Completion: December 2020. <br>Co-authors: N Wu, B Johnson | Principal Investigator: M Beyeler
</p>
<h4>Evaluating Visual Prosthetic Efficacy
  With Immersive Virtual Reality Simulations</h4>
<p>A multi-study research project focused on evaluating retinal prosthetics through the use of virtual reality simulations. Following the <a href="https://pulse2percept.readthedocs.io/en/stable/">pulse2percept</a> framework, 
  I have developed a biologically relevant, virtual reality simulation of bionic vision. Over the next few years, I will be validating my model and using it to study the currently available technology for bionic vision. <br>Expected Completion: 2023. <br>Principal Investigator: M Beyeler</p>
<h4>Individual Differences in Navigation through Diffusion MRI Tractography</h4>
<p>In this study, participants navigated through a virtual maze while their brain activity was recorded using fMRI. Diffusion images were taken before and after the task and multiple toolboxes (<a href="http://dsi-studio.labsolver.org/">DSI-Studio</a>, <a href="https://fsl.fmrib.ox.ac.uk/fsl/fslwiki/TBSS/UserGuide">TBSS</a>, <a href="https://readthedocs.org/projects/mdt-toolbox/downloads/pdf/master/">MDT</a>) were used to analyze the individual differences in brain structure that are correlated with performance. <br>Expected Completion: October 2020. <br>Co-authors: H Radhakrishnan, A Tharinipathy | Principal Investigator: E Chrastil</p>


{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
