---
layout: archive
---

{{ content }}
<h3>Previous projects:</h3>
<h4>Simulating Neuralink Threads with Regards to Cerebrovascular Anatomy</h4>
<p>
  <img src="/assets/images/brainartery.gif" alt="MRI Reconstruction of anterior cerebral artery">
  <img src="/assets/images/your_gif_file.gif" alt="3D view of the implanted Neuralink threads">
  Neuralink threads were simulated to-scale based on previously reported literature. Using MRI images and previously reported retinotopy mappings from neuropythy, patient specific simulations of cortical prosthetic vision were rendered in real-time virtual/augmented reality. 
</p>
<h4>Leveraging 'Smart Rasterization' for Enhanced Task Performance in a Simulated Cortical Implant</h4>
<p>
  <img src="/assets/images/smartedges.gif" alt="Smart edge detection">
  <img src="/assets/images/smartRaster.gif" alt="Smart edge detection with smart rastering groups">
  Electrode rasterization is an overlooked aspect of current visual prostheses. Current devices use row-by-row rasterization or similarly naive approaches to rastering. By simulating "smart rasterization" in VR, we were able to prove rasterization patterns are a plausible target for creating the "smart bionic eye".
</p>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
